<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RookardMelissa_GameOfLife_Attempt2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RookardMelissa_GameOfLife_Attempt2_.Properties.Settings>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="UniverseWide" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UniverseTall" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
        </RookardMelissa_GameOfLife_Attempt2_.Properties.Settings>
    </userSettings>
</configuration>